


 body {background-color: azure;
                 padding:20px;
      font-family:inherit ;
                 }
            
 h1 {  color:indianred; 
                    font-weight:bold;}
            
 h2 {  color:darkgreen; 
                    font-weight:bold;}
            
   p {color:green; font-weight:bold; }            
   ol{color:darkslategray;}

.navbar { color:darkslategray;
      list-style: none;
       background-color:gray;
       margin: 0px auto;
       padding: 20px;
    display:inline;
   padding:20px
       width: 500px;
   }

.navbar a{color:white;
         text-align:center;
         text-decoration:none;
        font-family:serif;}
         
.navbar a:hover{background-color: red;
               color:white;
              padding:20px;}

.images {width:1000px;
         margin: 0px auto;
         text-align: center;}


  #firstP {color:yellowgreen;}